ul{
	margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.chart{
	display:table;
	table-layout: fixed;
	width:100%;
	height:100%;
	margin:0 auto;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 2%, rgba(0, 0, 0, 0) 2%);
	background-size: 100% 50px;
	background-position: left top;
}
.chartbar{
	cursor: pointer;
	margin:0 0.4em;
	display: block;
	opacity: 0.8;
	animation: draw 1s ease-in-out; 
}
.chartbar:before{
	position:absolute;
	left:0;right:0;top:100%;
	padding:5px 0.2em 0;
	display:block;
	text-align:center;
}
.chartli{
	text-overflow: ellipsis;
	position:relative;
	display:table-cell;
	vertical-align:bottom;
}
.chartbar:hover{
	opacity: 1;
}
@keyframes draw{
	0%{height:0;}
}
.chartinfo{
	text-overflow: ellipsis;
	text-align: left;
	z-index: 5;
	background-color: #f6f6f7;
	margin-top: 3em;
	right: 0;
	position: absolute;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid black;
	text-overflow: ellipsis;
}
.info{
	font-size: 16px;
	margin: 1px 0px;
	white-space: nowrap;
	vertical-align: middle;
	display: block;
}
.info:hover .colorblock{
	opacity: 1;
}
.colorblock{
	opacity: 0.8;
	margin-right: 6px;
	width: 15px;
	height: 10px;
	vertical-align: middle;
	display: inline-block;
}
.infobox{
	display: none;
	text-overflow: ellipsis;
	text-align: left;
	z-index: 5;
	background-color: #f6f6f7;
	margin-top: 3em;
	left: 0;
	position: absolute;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid rgb(108, 122, 224);
	text-overflow: ellipsis;
}
.infobox b{
	font-family: 'Muli', sans-serif;
}