body, html{
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	background-color: #DFE2E1;
	scroll-behavior: smooth;
	overflow: hidden;
}
.bartop{
	z-index: 99;
	position: fixed;
	height: 44px;
	background-color: #343a40;
	overflow: hidden;
	width: 100%;
	-moz-box-shadow:    0 0px 40px 0px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.4);
	box-shadow:         0 0px 40px 0px rgba(0, 0, 0, 0.4);
}
.pagetitlediv{
	float: right;
	font-weight: bold;
	font-size: 35px;
	height: 44px;
	overflow: hidden;
	padding-right: 25px;
	color: #FFF;
	text-align: center;
	line-height: 44px;
}
.pagetitlemark{
	font-style: italic;
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
}
.sidemenudiv{
	transition: 0.4s;
	z-index: 1;
	left: 0;
	background-color: #fff;
	width: 280px;
	float: left;
	height: 100%;
	overflow-y: auto;
	position: absolute;
	-moz-box-shadow:    0 0px 40px 0px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.4);
	box-shadow:         0 0px 40px 0px rgba(0, 0, 0, 0.4);
}
.menu-wr{
	margin-top: 44px;
	width: inherit;
	overflow: hidden;
	overflow-y: auto;
	min-height: calc(100% - 44px);
}
.userimg{
    display: block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}
.userinfo{
	margin-top: 15px;
}
.username{
	font-weight: bold;
	font-size: 20px;
}
.iconquick{
	display: inline-block;
	padding: 8px 10px;
	font-size: 23px;
	margin: 0px;
	cursor: pointer;
}
.iconquick:hover{
	background-color: #DFD8D8;
}
.sepaside{
	border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}
.menubutton{
	cursor: pointer;
    overflow: hidden;
	display: block;
    padding: 14px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    font-size: 20px;
   	height: 28px;
   	width: 100%;
}
.menubutton span{
	vertical-align: middle;
}
.menubutton:hover{
	background-color: #DFD8D8;
}
.pagediv-wr{
	transition: 0.4s;
	margin-left: 280px;
	margin-top: 44px;
	height: 100%;
	overflow: auto;
	position: relative;
}
.overview-wr{
	position: relative;
	padding: 0 8px;
	margin-bottom: 16px;
	overflow: hidden;
	height: 170px;
}
.card-wr{
	box-sizing: border-box;
	height: 160px;
	width: 24.9%;
	float: left;
	padding: 0 16px;
    overflow: hidden;
}
.card{
	position: relative;
	height: 155px;
	border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    color: white;
	-moz-box-shadow:    3px 3px 5px 3px #ccc;
	-webkit-box-shadow: 3px 3px 5px 3px #ccc;
	box-shadow:         3px 3px 5px 3px #ccc;
	overflow: hidden;
}
.card:empty{
	background-color: #f6f6f7;
}
.card-wr:nth-child(1) .card{
	background-color: #f44336;
	background-color: rgb(244,67,54, 0.7);
}
.card-wr:nth-child(2) .card{
	background-color: #2196F3;
	background-color: rgb(33,150,243, 0.7);
}
.card-wr:nth-child(3) .card{
	background-color: #009688;
	background-color: rgb(0,150,136, 0.7);
}
.card-wr:nth-child(4) .card{
	background-color: #ff9800;
	background-color: rgb(255,152,0, 0.7);
}
.pageheading{
	white-space: nowrap;
	padding: 0 16px;
	padding-top: 22px;
}
.pgheading{
	white-space: nowrap;
	font-size: 25px;
	font-weight: bold;
	vertical-align: middle;
}
.bodyhr{
	margin: 20px 0;
	width: 97%;
}
.chartsncontrol-wr{
	min-height: 620px;
	position: relative;
	display: block;
	overflow: hidden;
	padding: 0 23px;
	margin-bottom: 16px;
}
.charts{
	position: relative;
	border-radius: 15px;
	float: left;
	background-color: #fff;
	width: 56%;
	height: 600px;
}
.others{
	overflow: hidden;
	position: relative;
	border-radius: 15px;
	float: right;
	width: 42%;
	min-height: 600px;
	background-color: #fff;
	margin-bottom: 28px;
}
.loader-wr{
	z-index: 99;
	width: 100px;
	position: absolute;
	height: 100px;
	border-radius: 50%;
	background-color: rgb(33,150,243);
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.loading-bar {
  display: inline-block;
  width: 5px;
  height: 25px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
  -webkit-animation: loading 1s ease-in-out infinite;
  -webkit-animation: loading 1s ease-in-out infe;
  -moz-animation: loading 1s ease-in-out infinite;
  -o-animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
  background-color: #f6f6f7;
  animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: #f6f6f7;
  animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  background-color: #f6f6f7;
  animation-delay: .18s;
}
.loading-bar:nth-child(4) {
  background-color: #f6f6f7;
  animation-delay: .27s;
}
@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}
@-webkit-keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}
@-moz-keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}
@-o-keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}
.incard{
	text-overflow: ellipsis;
	position: absolute;
	bottom: 0;
}
.incardup{
	text-overflow: ellipsis;
	position: absolute;
	right: 0;
	top: 0;
}
.cardnumber{
	white-space: nowrap;
	display: block;
    margin: 0px;
    top: 0px;
    position: relative;
    font-style: normal;
    font-weight: bold;
	font-size: 1.7em;
}
.cardproperty{
	cursor: pointer;
	white-space: nowrap;
	display: block;
    margin: 0px;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: bold;
	font-size: 1.17em;
}
.number{
	font-family: 'Muli', sans-serif;
	margin: 0;
	padding-left: 30px;
    border-bottom-left-radius: 50px;
    padding-right: 5px;
    padding-bottom: 5px;
}
.property{
	padding-top: 6px;
	padding-left: 5px;
    border-top-right-radius: 50px;
    padding-right: 30px;
    padding-bottom: 8px;
}
.chartbody{
	position: relative;
	width: 95%;
	height: 95%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.otherbody{
	margin: 20px;
}
.chartheading{
	z-index: 2;
	white-space: nowrap;
	display: block;
	left: 50%;
	transform: translate(-50%);
	font-size: 1.5em;
	position: absolute;
	font-weight: bold;
}
.otherheading{
	display: block;
	position: relative;
	margin-bottom: 15px;
}
.float{
	transition: 0.3s;
	top: 0;
	left: 0;
}
.float:hover{
	top: -2px;
	left: -2px;
	-moz-box-shadow: 3px 3px 5px 3px #ccc;
    -webkit-box-shadow: 3px 3px 5px 3px #ccc;
    box-shadow: 3px 3px 5px 3px #ccc;
}
.fs:hover{
	transition: 0.2s;
	top: -2px;
	left: -2px;
	-moz-box-shadow: 1px 1px 2px 1px #ccc;
    -webkit-box-shadow: 1px 1px 2px 1px #ccc;
    box-shadow: 1px 1px 1px 2px #ccc;
}
.buttons{
	text-align: left;
}
.qbut{
	text-overflow: ellipsis;
	position: relative;
	padding: 15px;
	margin: 5px 4px;
	background-color: rgb(108, 122, 224, 0.8);
	font-family: "Raleway", sans-serif;
	font-size: 17px;
	color: #fff;
	font-weight: 600;
	letter-spacing: 0.5px;
	cursor: pointer;
	border-radius: 15px;
	border: none;
}
.qbut:focus{
	outline: none;
}
.m{
	background-color: rgb(33,150,243, 0.7);
}
.body2{
	margin-top: 15px;
}
.margined{
	margin-top: 15px;
}
.tablediv{
	position: relative;
    display: block;
    overflow: hidden;
    padding: 0 23px;
    margin-bottom: 70px;
}
.listtable{
	position: relative;
	text-align: center;
	width: 100%;
}
.tableedge{
	width: 100%;
	overflow: hidden;
	border-radius: 10px;
	position: relative;
}
.listtable thead{
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	color: #fff;
	background-color: #6c7ae0;
	border: none;
	margin: 0;
	padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.4;
    font-weight: bold;	
}
.listtable tr{
	height: 40px;
    font-size: 1.1rem;
    align-self: center;
    font-weight: normal;
    line-height: 1.5;
}
.ctr:nth-child(odd){
    background-color: white;
}
.ctr:nth-child(even){
    background-color: #f8f6ff;
}
.numf{
	font-family: "Muli", sans-serif;
}
.psym{
	font-size: 0.9rem;
	letter-spacing: 1px;
	padding: 5px;
	color: #fff;
	position: relative;
	top: -2px;
	-moz-box-shadow: 1px 1px 2px 1px #ccc;
    -webkit-box-shadow: 1px 1px 2px 1px #ccc;
    box-shadow: 1px 1px 1px 2px #ccc;
    border-radius: 5px;
}
.showm{
	margin-left: 10px;
	background-color: rgb(0,150,136);
	vertical-align: middle;
	cursor: pointer;
}
.ok{
	background-color: rgb(33,150,243);
}
.y{
	background-color: rgb(255,152,0);	
}
.extrasp{
	height: 100px;
}
.imgth{
	width: 1px;
}
.tb{
	vertical-align: middle;
	width: 40px;
	height: 40px;
	margin: 0px;
}
.actd{
	padding: 0;
}
.acicon:hover{
	color: rgb(76,175,80);
}
.acicon{
	text-align: center;
	transition: 0.3s;
	display: inline-block;
	padding: 10px 5px;
	border-radius: 15px;
	cursor: pointer;
	font-size: 1.6rem;
	color: #6c7ae0;	
}
.reportdiv{
	position: relative;
    display: block;
    padding: 0 23px;
    margin-bottom: 70px;
}
.reports{
	overflow: hidden;
	display: inline-block;
	height: 330px;
	border: 1px solid transparent;
	border-radius: 10px;
	position: relative;
	background-color: #fff;
}
.r1{
	width: 56%;
}
.r2{
	width: 42%;
	float: right;
}
.reportcardbody{
	margin: 20px;
}
.cage{
	white-space: nowrap;
	margin: 5px;
	display: inline-block;
	overflow: hidden;
	color: rgb(108, 122, 224, 0.8);
	font-weight: bold;
	font-size: 1.2rem;
	line-height: 30px;
	letter-spacing: 1px;
	padding: 10px 0px;
	position: relative;
}
.cageprop{
	color: #fff;
	background-color: rgb(108, 122, 224, 0.8);
	border-radius: 15px;
	padding: 15px;
}
.cageans{
	border: 2px solid rgb(76,175,80);
	color: #000;
	border-radius: 15px;
	padding: 10px;
}
.tot{
	background-color: rgb(33,150,243, 0.7);
}
.addb{
	cursor: pointer;
}
.addb:hover{
	color: rgb(108, 122, 224, 1);
}
.rd{
	background-color: rgb(244,67,54);
}