body, html {
	margin: 0;
	width: 100%;
	min-width: 1084px;
	background-color: #fff;
	font-family: "Muli", sans-serif;
	min-height: 100vh;
}
body{
	display: flex;
	flex-direction: column;
}
.topbar{
	display: block;
	width: 100%;
	height: 75px;
	overflow: hidden;
}
.barline{
	background-color: rgb(46,46,46);
	height: 10px;
	display: block;
	width: 100%;
}
.links{
	display: block;
	padding: 5px;
	width: 48%;
	margin: 0;
	margin-left: 52%;
	background-color: rgb(46,46,46);
	height: 30px;
	overflow: hidden;
	transform: skewX(20deg);
}
.linkscontent{
	transform: skewX(-20deg);
	width: 100%;
	color: #fff;
	font-size: 16px;
	text-align: center;
	white-space: nowrap;
}
.timing{
	vertical-align: middle;
}
.sicons{
	margin: 0 10px;
}
.head{
	justify-content: space-around;
	display: flex;
}
.titlediv{
	flex-grow: 0;
}
.contacts{
	text-align: left;
}
.cbody{
	margin: 0 18px;
	display: inline-block;
}
.sep{
	height: 60%;
	width: 1px;
	background-color: gray;
}
.h1{
	font-weight: bold;
	line-height: 0;
	font-size: 35px;
}
.h2{
	font-size: 24px;
	line-height: 0;
}
.cl{
	background-color: transparent;
	color: rgb(108, 122, 224);
}
.h3{
	line-height: 14px;
	font-size: 19px;
}
.desc{
	line-height: 0;
}
.navbar{
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
  	align-self: flex-start;
	margin-top: 20px;
	width: 100%;
	display: flex;
	z-index: 99;
	height: 45px;
	background-color: rgb(108, 122, 224);
	color: #fff;
	justify-content: center;
}
nav{
	width: 85%;
	height: 100%;
}
.menubutton{
	background-color: transparent;
	margin: 0;
	display: inline-flex;
	font-family: "Raleway", sans-serif;
	cursor: pointer;
	height: 45px;
	vertical-align: middle;
	font-size: 1rem;
	padding: 0 14px;
	transform: skew(20deg);
}
.menubutton p{
	flex-grow: 0;
	align-self: center;
	transform: skew(-20deg);
}
.menubutton:hover{
	background-color: #fff;
	color: rgb(108, 122, 224);
}
.ac{
	background-color: #fff;
	color: rgb(108, 122, 224);
}
.pagediv-wr{
	transition: 0.4s;
	height: auto;
	width: 100%;
}
.loader-wr{
	z-index: 99;
	width: 100px;
	position: absolute;
	height: 100px;
	border-radius: 50%;
	background-color: rgb(33,150,243);
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.loading-bar {
  display: inline-block;
  width: 5px;
  height: 25px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
  -webkit-animation: loading 1s ease-in-out infinite;
  -webkit-animation: loading 1s ease-in-out infe;
  -moz-animation: loading 1s ease-in-out infinite;
  -o-animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
  background-color: #f6f6f7;
  animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: #f6f6f7;
  animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  background-color: #f6f6f7;
  animation-delay: .18s;
}
.loading-bar:nth-child(4) {
  background-color: #f6f6f7;
  animation-delay: .27s;
}
@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}
@-webkit-keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}
@-moz-keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}
@-o-keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}
.pagediv{
	position: relative;
}
.hs1-wr{
	justify-content: center;
	display: flex;
	position: relative;
    margin-bottom: 16px;
}
.fr-wr{
	margin-top: 35px;
}
.hs1{
	width: 50%;
	text-align: center;
	position: relative;
}
.fr{
	width: 100%;
	text-align: left;
	height: 550px;
}
.m2{
	background-color: rgb(108, 122, 224);
	color: #fff;
}
.hpara{
	letter-spacing: 2px;
	font-weight: bold;
	line-height: 2em;
	margin: 0;
	font-size: 32px;
}
.mnmark{
	font-size: 40px;
	border-radius: 15px;
	padding: 0 5px;
}
.homtx{
	align-self: center;
	color: #fff;
}
.heading{
	font-size: 35px;
	font-weight: bold;
}
.para{
	font-size: 18px;
}
.cn{
	text-align: center;
}
.hse{
	display: flex;
	justify-content: flex-start;
}
.coursetb{
	width: 100%;
	margin: 0;
}
.coursetile{
	font-size: 17px;
	transition: 0.4s;
	cursor: pointer;
	position: relative;
	display: flex;
	color: #fff;
	font-weight: bold;
	width: 29%;
	justify-content: center;
	height: 150px;
}
.tilebig{
	width: 22%;
	height: 180px;
}
.tiledr{
	top: 0 !important;
	left: 0 !important;
}
.tiled{
	transform: scale(1.08);
}
.coursetilering{
	transition: 0.4s;
	border-width: 2px;
	border-style: solid;
	width: 100%;
	height: 100%;
	top: 3px;
	left: 3px;
	position: absolute;
}
.coursen{
	text-transform: uppercase;
	padding: 4px 15px;
	align-self: flex-end;
}
.coursen i{
	display: block;
	margin-bottom: 20px;
}
.cs{
	padding: 0;
	width: 35%;
	display: flex;
	justify-content: space-around;
	-webkit-flex-flow: row wrap;
}
.cs2{
	width: 90%;
	overflow: visible !important;
}
.rowtiles{
	width: 100%;
	flex-direction: row;
	display: flex;
	justify-content: space-around;
	height: 180px;
}
.rowt2{
	height: 190px;
	justify-content: space-between;
}
.inf{
	width: 35%;
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	justify-content: flex-start;
}
.sum{
	margin: 0;
	margin-bottom: 12px;
	font-size: 23px;
}
.sum2{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
}
.sum3{
	font-size: 20px;
}
.descdiv{
	padding-left: 25px;
	position: absolute;
}
.nb{
	font-weight: normal;
	text-transform: none;
}
.slider{
	position: relative;
	z-index: 99;
	padding-bottom: 25px;
	padding-left: 25px;
	align-self: flex-end;
}
.slide{
	transition: 0.7s;
	display: inline-block;
	margin: 0;
	margin-right: 5px;
	cursor: pointer;
	width: 40px;
	height: 12px;
	border-radius: 25px;
	border: 1px solid rgb(108, 122, 224);
}
.slideac{
	background-color: rgb(108, 122, 224);
}
.lgb{
	float: right;
}
.login-div{
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	flex-direction: row;
}
.panel{
	margin-top: 100px;
	width: 40%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
  	justify-content: center;
}
.minput{
	font-family: "Raleway", sans-serif;
	transition: 0.3s;
	width: 60%;
	margin-bottom: 25px;
	border-radius: 15px;
	height: 40px;
	font-size: 18px;
	padding: 0 10px;
	border: 1px solid rgb(108, 122, 224);
}
.minput:focus{
	outline: none;
	-webkit-box-shadow: 0 0 8px rgb(108, 122, 224);
    box-shadow: 0 0 8px rgb(108, 122, 224);
}
.subb{
	background-color: rgb(108, 122, 224);
	color: #fff;
	box-sizing:	content-box;
	cursor: pointer;
	margin: 0;
}
.errmsg{
	color: red;
	margin-bottom: 25px;
}
.tops{
	flex-grow: 0;
}
.pages{
	flex-grow: 2;
}
.instructions{
	margin-left: 10px;
	width: 30%;
	padding: 0 35px;
	padding-bottom: 35px;
}
.semhead{
	font-size: 28px;
}
ul{
	padding-inline-start: 25px;
}
a{
	cursor: pointer;
	text-decoration: none;
	color: rgb(33,150,243);
}
.subb:focus{
	-webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.exspace{
	height: 30px;
}
@media only screen and (max-width: 1392px) {
.coursetile{
	font-size: 13px;
}
	.sum{
		font-size: 16px;
	}
	.sum2{
		font-size: 18px;
	}
}
.left{
	text-align: left;
	width: 90%;
	margin-top: 25px;
}
.center{
	text-align: center;
}
.cmark{
	cursor: pointer;
	color: #fff;
	font-size: 20px !important;
	background-color: rgb(108, 122, 224);
	padding: 5px 8px;
	border-radius: 10px;
	line-height: 50px;
	margin: 0 5px;
}
.nomar{
	margin: 0 !important;
}
.courses-list{
	margin-top: 25px;
	margin-left: 10px;
}
.courses-list li{
	font-size: 40px;
}
.course-box{
	background-color: rgb(108, 122, 224);
	color: #fff;
	position: relative;
	border: 1px solid transparent;
	border-radius: 10px;
}
.box-body{
	position: relative;
	margin: 15px;
}
.header-bx{
	background-color: rgb(33,150,243);
	padding: 5px;
	font-size: 35px;
	border-radius: 10px;
}
.expandable-tile{
	transition: 0.8s;
	background: #fff;
	position: relative;
	overflow: hidden;
	min-height: 0;
	max-height: 0px;
	border-width: 0;
	margin: 40px 0;
	border-radius: 15px;
	text-align: left;
}
.info-body{
	padding: 25px;
	display: none;
}
.courses-explains{
	display: none;
}
.paragraph{
	font-size: 1.3em;
}
.sepdiv{
	margin: 10px 0;
}
.team-div{
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.element-row{
	margin: 40px 0;
	flex-basis: 100%;
	display: flex;
	justify-content: space-around;
}
.element{
	color: rgb(28,158,216);
	width: 305px;
}
.userpic{
	width: 100%;
	height: 100%;
}
.picture{
	width: 305px;
	height: 305px;
	border-radius: 50%;
	overflow: hidden;
	-webkit-box-shadow: 1px 8px  18px 0 rgb(108, 122, 224);
  box-shadow: 1px 8px  18px 0 rgb(108, 122, 224);
}
.name{
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 1px;
	margin-top: 25px;
}
.user-post{
		padding-top: 4px;
		font-size: 0.7em;
		color: gray;
		display: block;
}
.user-desc{
		word-break: break-word;
		font-weight: normal;
		font-size: 0.6em;
}
.slideshow-home{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}
.slide-img{
	width: 75%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.pagination{
	position: absolute;
	align-self: flex-end;
	width: 74%;
}
.slide2{
	width: 20px;
	height: 20px;
	margin: 0 1px;
	margin-bottom: 0.6em;
	cursor: pointer;
	border-radius: 50%;
	background: #fff;
	display: inline-block;
	transition: 0.4s;
}
.slideac{
	background-color: rgb(0,150,136);
}
.element2{
	width: 340px;
}
.gal-pic{
	cursor: pointer;
	width: 340px;
	height: 340px;
	overflow: hidden;
	-webkit-box-shadow: 1px 8px  18px 0 rgb(0, 0, 0, 0.3);
  box-shadow: 1px 8px  18px 0 rgb(0, 0, 0, 0.3);
}
.size2{
	font-size: 0.8em;
}
.news-box{
	border-radius: 10px;
	height: 340px;
	width: 30%;
	overflow: hidden;
	border: 2px solid rgb(108, 122, 224);
	margin: 0 15px;
}
.news{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.news-marquee{
	height: 100%;
}
.news:nth-child(even) {
	background-color: #f8f6ff;
}
.news:nth-child(odd) {
	background-color: #fff;
}
.news-inner{
	text-align: left;
	padding: 15px;
}
.news-title{
	font-size: 17px;
}
.news-top{
	background: rgb(108, 122, 224);
	height: auto;
	padding: 5px 0;
	font-size: 22px;
	text-align: center;
	color: #fff;
}
.footer-main{
	width: 100%;
	background-color: rgb(108, 122, 224);
	color: #fff;
	font-size: 22px;
	text-align: center;
}
.footer-inner{
	padding: 10px;
}
.mapbody{
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	width: 80%;
}